    .topnav {
    position: absolute; /* Position the background text */
    top: 0; /* At the bottom. Use top:0 to append it to the top */
    background-color: black; /* Grey text */
    width: 100%; /* Full width */
    overflow: hidden;
    align-items: center;
    /*Google Font*/
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
  }
  
    .topnav a.home {
      float: left;
      color: white;
      text-align: center;
      text-decoration: none;
      font-size: 17px;
      padding: 10px 0px;
    }
    
    .topnav a.menu {
      float: left;
      color: white;
      text-align: center;
      text-decoration: none;
      font-size: 18px;
      padding:30px 10px;
    }
  
    /* Change the color of links on hover */
    .topnav a.menu:hover {
      font-size: 20px;
    }

    .icons{
        float:right;
        margin-right: 55px;
      }
    
      .fa{
        font-size: 27px;
        padding-right: 5px;
      }

h4{
    text-align: center;
    font-size: 50px;
    margin: 0;
    color:rgb(41, 121, 75);
}
h5{
    text-align: center;
    font-size: 70px;
    margin: 0;
    /*text color*/
    background: #FF24DA;
    background: -webkit-linear-gradient(to bottom, #FF24DA 4%, #000000 100%);
    background: -moz-linear-gradient(to bottom, #FF24DA 4%, #000000 100%);
    background: linear-gradient(to bottom, #FF24DA 4%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#honor{
    margin-left: 20%;
    width: 60%;
    height: 60%;
}
body{
    background-color: rgba(77, 77, 77, 0);
    position: relative;
    padding: 0;
    margin: 0 auto;
}
.block1, .block3{
    position:relative;
    display: inline-block;
    background-color: rgba(51, 51, 51, 0.24);
    box-shadow: 20px 10px rgba(27, 27, 27, 0.904);
    color: rgb(43, 43, 43);
    left: 10%;
    width: 80%;   
}
.block1 img{
    display: block;
    float:left;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 3%;
    width: 35%;
    height: 80%;
}
.block1 .description, .block3 .description{
    display: block;
    float: right;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 50%;
    height: 40%;
    padding-top: 3%;
    padding-right: 5%;
    padding-bottom: 3%;
}
.block1 .description h2, .block2 .description h2, .block3 .description h2{
    font-size: 45px;
}
.block1 .description p, .block2 .description p, .block3 .description p{
    font-size: 30px;
    text-decoration: underline;
}
.block1 .description p1{
    font-size: 20px;
}

.space {
    padding: 50px;
}

.block2{
    position:relative;
    display: inline-block;
    background-color: rgba(51, 51, 51, 0.527);
    box-shadow: 20px 10px rgba(27, 27, 27, 0.904);
    color: rgb(43, 43, 43);
    left: 10%;
    width: 80%;   
}
.block2 .description{
    display: block;
    float: right;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 50%;
    height: 40%;
    padding-top: 3%;
    padding-right: 5%;
    padding-bottom: 3%;
}
.block2 h1{
    display: block;
    float: left;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 10%;
    width: 35%;
    height: 60%;
    color:rgb(255, 204, 77);
    text-shadow: 5px 0px 10px rgba(27, 27, 27, 0.904);
    font-size: 55px;
    text-decoration: underline;
}
.block2 p1, .block3 p1{
    font-size: 30px;
    font-weight: bold;
}


.block3{
    position:relative;
    display: inline-block;
    background-color: rgba(51, 51, 51, 0.24);
    box-shadow: 20px 10px rgba(27, 27, 27, 0.904);
    color: rgb(43, 43, 43);
    left: 10%;
    width: 80%; 
}

.block3 h1{
    display: block;
    float: left;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 6%;
    width: 35%;
    height: 60%;
    color:rgb(255, 204, 77);
    text-shadow: 5px 0px 10px rgba(27, 27, 27, 0.904);
    font-size: 55px;
    text-decoration: underline;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.781); /* Grey text */
    margin: 0 auto;
    overflow: hidden;
    font-size: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*Google Font*/
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
  }
  .footer a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 10px 0px;
    
  }
  .footer h1{
    position: absolute;
    margin-left: 15%;
    color: rgb(0, 0, 0);
    text-shadow: 0.1px 0.1px 1px black, 0 0 1px white;
  }
  .footer a{
    float: left;
    margin-right: 55px;
    color: black;
  }

