body{
    position: relative;
    padding: 0;
    margin: 0 auto;
    /*Google Font*/
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
}
  
p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    position: relative;
}
  .topnav {
    top: 0; /* At the bottom. Use top:0 to append it to the top */
    background-color: black; /* Grey text */
    width: 100%; /* Full width */
    overflow: hidden;
    align-items: center;
  
    /*Google Font*/
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
  }
  
    .topnav a.home {
      float: left;
      color: white;
      text-align: center;
      text-decoration: none;
      font-size: 17px;
      padding: 10px 0px;
    }
    
    .topnav a.menu {
      float: left;
      color: white;
      text-align: center;
      text-decoration: none;
      font-size: 18px;
      padding:30px 10px;
    }
  
    /* Change the color of links on hover */
    .topnav a.menu:hover {
      font-size: 20px;
    }

    .icons{
        float:right;
        margin-right: 55px;
      }
    
      .fa{
        font-size: 27px;
        padding-right: 5px;
      }

h1{
    padding-top: 80px;
    font-size: 80px;
    text-align: center;
    margin: auto;
    color:black;
}
.projects{
    text-align: center;
    left: 10%;
    position: relative;
    padding: 40px;
    height: 600px;
    overflow: hidden;
}
.container{
    background-color: rgb(255, 199, 199);
    position: relative;
    display: block;
    float: left;
    width: 350px;
    margin-top: 4%;
    height: 440px;
    border: 1px solid grey;
    box-shadow: 3px 3px 3px grey;
    border-radius: 5px;
    color:black;
    text-shadow: 0.1px 0px 2px white, 0 0 1px black;
    margin-right: 15px;
    margin-left: 15px;
}
.container h2{
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.container p{
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.container:hover{
    /* font-size: +20px; */
    padding-top:2px;
    padding-bottom:2px;
    padding-left:2px;
    padding-right:2px;
    box-shadow: 4px 4px 2px grey;
    border: 2px solid grey;
}
#readmore{
    position: relative;
    top:20px;
    left:10px;
    color:black;
    text-shadow: 0.1px 0px 2px white, 0 0 1px black;
    font-size: 15px;
}
#readmore:hover{
    color:blue;
}

.footer {
  position: relative;
  bottom:0px;
  background-color: rgba(128, 128, 128, 0.781); /* Grey text */
  margin: 0 auto;
  width: 100%; /* Full width */
  overflow: hidden;
  font-size: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  /*Google Font*/
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto Slab', serif;
}
.footer a {
  color: black;
  text-decoration: none;
  font-size: 17px;
  padding: 10px 0px;
  float: left;
  margin-right: 55px;
}
.footer h2{
  padding-top: 10px;
  padding-left: 15%;
  float: left;
  color: rgb(0, 0, 0);
  text-shadow: 0.1px 0.1px 1px black, 0 0 1px white;
  font-size: 20px;
  margin: 0 auto;
}