.topnav {
    background-color: #333;
    font-family: cursive;
    overflow: hidden;
    align-items: center;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left:12%;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(77, 77, 77);
    color: white;
  }

  .container {
    position: relative;
  }

  .text-block {
    position: absolute;
    top:10%;
    right: 950px;
    background-color: rgb(22, 22, 22);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-family: cursive;
  }

  .container1 {
    position: absolute;
    top:400px;
    right: 1000px;
    background-color:white;
  }
  .text-block1{
    position: relative;
    text-align: center;
    font-size: large;
    color: #333;
    padding-right: 20%;
    padding-top: 10%;
  }
  .text-block1 h1, p{
    padding-left: 90px;
  }
#img1{
    border-radius: 50%;
    height:350px;
    padding: 20px;
}
.container2{
    position: relative;
}
.readmore{
    text-align: center;
    color:white;
    padding: 40px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    
}
.readmore a{
  position: relative;
  padding: 15px;
  border-radius:40%;
  border: 1px #333 solid;
}