.topnav {
    background-color: #333;
    font-family: cursive;
    overflow: hidden;
    align-items: center;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left:12%;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: rgb(77, 77, 77);
    color: white;
  }
  body{
      background-color: rgba(0, 0, 0, 0.863);
  }
  body .block1{
    position: relative;
  }
.block1{
      display: inline-block;
      position: absolute;
      width: 500px;
      padding-left: 500px;
      padding-top: 300px;
      color:white;
      font-size: larger;
}
.block1 h1{
    padding-left: 100px;
    padding-top: 0px;
}
.block1 p{
    padding-left: 80px;
    padding-top: 0px;
}
.block2{
    display: inline-block;
    position: absolute;
    color: white;
    padding-top: 250px;
    padding-left: 250px;
    font-size: 1cm;
}
.block2 label{
    color:rgba(255, 255, 255, 0.692);
    text-decoration: underline;
}